body {
  margin: 0;
}

#popup {
  position: relative;
  background: #141414;
  margin: 0;
  padding: 0 20px 10px;
  width: 400px;
  font-family: sans-serif;
  font-size: 17px;
  color: #ffffff;
}
h3 {
  margin: 0 -18px;
  padding: 0 12px;
  font-size: 7px;
  position:  relative;
  display: flex;
  padding: 0rem 0.1 rem;
  border: 4px solid #141414;
  font-family: sans-serif;
  color: gray;
  opacity: 0.8;
}

h3.website {
  position: relative;
  display: flex;
  font-size: 12px;
  margin-top: -0.3px;
  float: left;
  text-decoration: none;
  font-family: sans-serif;
  color: gray;
  opacity: 0.8;
}

h3.website a {
  color: gray;
  text-decoration: none;
}
h3.name a {
  color: gray;
  text-decoration: none;
}

h3.name {
  position: relative;
  display: flex;
  font-size: 12px;
  margin-top: -5px;
  float: right;
  padding: auto;
  text-decoration: none;
  font-family: sans-serif;
  color: gray;
  opacity: 0.8;
}

h3.website a:hover {
  color: #ffffff;
  text-decoration: none;
}
h3.name a:hover {
  color: #ffffff;
  text-decoration: none;
}



h1 {
  margin: 0 -18px;
  padding: 0 18px;
  font-size: 15px;
  line-height: 32px;
  background: #ffffff;
  color: #20242a;
  text-align: center;
  border: 4px solid #141414;
  border-radius: 6px;
}

hr {
  height: 1px;
  background: #ffffff;
  border: none;
}

br {
  height: 1px;
  background: #535353;
  border: none;
}

#refresh-button {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 15px;
  height: 15px;
  padding: 0;
  border: 0;
  cursor: pointer;
  outline: none;
}


#refresh-button:hover {
  animation-iteration-count: infinite;
  animation: 2s linear spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  table-layout: fixed;
  width: 100%;
  margin-top: 5px;
  color: #9ca4b3;
  font-size: 15px;
}

table a {
  color: #ffffff;
  text-decoration: none;
}
table a:hover {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
}

table td {
  padding: 2px 0;
  vertical-align: middle;
}

table td:nth-child(1) {
  width: 24%;
}

table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4) {
  width: 17%;
  text-align: center;
}

table td:nth-child(5),
table tr.row-with-colspan td:nth-child(3) {
  width: 25%;
  text-align: right;
}

table tr.row-with-colspan td:nth-child(2) {
  width: 51%;
  text-align: center;
}

.fast, .normal, .slow, .timestamp {
  font-family: sans-serif;
}

.fast, .normal, .slow {
  color: #ffffff;
  font-size: 17px;
  width: 20%;
}

.fast[data-source]:hover:not([data-selected=true]),
.normal[data-source]:hover:not([data-selected=true]),
.slow[data-source]:hover:not([data-selected=true]) {
  text-decoration: underline;
  cursor: pointer;
}

.fast[data-source][data-selected=true],
.normal[data-source][data-selected=true],
.slow[data-source][data-selected=true] {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 3px;
}
